@model IEnumerable<GSXRWorkshop.Models.MotorCycle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MotorCycleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Displacement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wheelbase)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MotorCycleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manufacturer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Displacement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wheelbase)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MotorCycleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MotorCycleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MotorCycleId })
        </td>
    </tr>
}

</table>
